html{
    background: url('../resources/front_page_background.jpg') no-repeat center center fixed;
    background-size:     cover;                      /* <------ */

    --color-1: #fcbb6d;
    --color-2: #d8737f;
    --color-3: #ab6c82;
    --color-4: #685d79;
    --color-5: #475c7a;
}



body{
    margin: 0;
}

body > header {
    /* background-color: var(--color-2); */

    /* background-image: linear-gradient(to bottom right, var(--color-3), var(--color-2), var(--color-1)); */
    background: linear-gradient(114deg, var(--color-3) 0%,  var(--color-2) 18%,  var(--color-1) 79%);
    
    box-shadow: 9px 7px 16px -2px rgba(0,0,0,0.58); 
}


#search_box{
    margin: 3em auto;
    padding: 1em;
    width: 40em;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    box-shadow: 9px 7px 16px -2px rgba(0,0,0,0.58); 
}

#search_box h1 {
    
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    margin-top: 0em;

}

#search_box form{
    display: flex;
    flex-direction: column;
    
}

#search_box form #location{
    display: block; 
    width: 100%;
}

#search_box form #dates{
    display: flex;
    flex-direction: row;
}

#search_box input {

    height: 2em;
}

#search_box form > *{

    margin: 0.5em 0;    
}

#search_box form input::placeholder{
    color: #AAAAAA
}

#search_box form #dates > * {
    flex-grow: 1;
}

#search_box form #dates label > * {
    display: block;

}

#search_box form #submit_button {

    background-color: var(--color-2);
    color: white;
    border-radius: 4px;
    border: none;
}

#search_box form #dates label > input {

    margin: 0;
    width: 100%;
}

#search_box form label {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
}
