/*Search results*/
body #results .result {

    color: black;
    margin: 1em;
    border-top: 1px;
    border-width: 1px;
    border-color: gray;
    border-top-style: solid;
    /* padding: 0.5em; */

    height: 25em;
    width: 100%;

    /* grid settings */

    display: grid;


    /* grid-template-columns: 40% 25% 25% 10%;
    grid-template-rows: 10% 20% 60% 10%;
    grid-column-gap: 10px;


    grid-template-areas:
    ". type location rating"
    "image title title price"
    "image desc desc ."
    "image nBedrooms nBeds ."; */

        display: grid;
        grid-template-columns: 1.7fr 0.9fr 1fr 0.4fr;
        grid-template-rows: 0.4fr 0.5fr 0.6fr 3.5fr 0.6fr;
        grid-template-areas: 
        ". . . rating" 
        ". type location ." 
        "image title title price" 
        "image desc desc ." 
        "image nBedrooms nBeds .";
      
      
    

}


body #results .result  img{

    grid-area: image;
    border: 0px solid black;
    border-radius: 4px;
    padding: 0px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    height: auto;
    width: auto;
    max-width: 40em;
    max-height: 25em;
    align-content: center;
}

body #results .result .info_title {
    grid-area: title;
}

body #results .result .info_type {
    grid-area: type;
    justify-content: right;
}

body #results .result .info_location {
    grid-area: location;
    justify-content: left;
}

body #results .result .info_description {
    grid-area: desc;
}

body #results .result .info_ppd {
    grid-area: price;
}

body #results .result .info_score {
    grid-area: rating;
}

body #results .result .info_capacity {
    grid-area: nBeds;
}

body #results .result .info_bedrooms {
    grid-area: nBedrooms;
}

body #results .result h1{

    font-size: 2em;
    align-self: center;
}

body #results .result h2{

    font-size: 0.8em;
}

