/* General */
html {
    --color-1: #fcbb6d;
    --color-2: #d8737f;
    --color-3: #ab6c82;
    --color-4: #685d79;
    --color-5: #475c7a;
    --color-6: #e6e7e9;
    height: 100%;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    height: 100%;
    background: url('../resources/santorini_blur.jpg') no-repeat center center fixed;
    background-size:     cover;                      /* <------ */
    display: flex;
    flex-direction: column;
}

#footer {
    flex-shrink: 0;
    background-color: var(--color-5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    color: white;
    box-shadow: 0px -7px 16px -2px rgba(0,0,0,0.58);
}

#footer p {
    margin: 0.6em 2em;
}

#footer > a {
    color: white;
    text-decoration: none;
    margin-right: 2em;
}

body > footer a i {
    margin: 0.5em;
}

body > .content_wrapper {
    flex: 1 0 auto;
}

.profile_pic {
   border-radius: 50%;
}

.post_link {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

/* header */

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo p {
    margin: 0em;
    font-size: 2em;
    font-weight: bold;
}

.navbar {
    flex-shrink: 0;

    background: linear-gradient(114deg, var(--color-3) 0%,  var(--color-2) 18%,  var(--color-1) 79%);
    box-shadow: 0px 7px 16px -2px rgba(0,0,0,0.58);

    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
}

.navbar .logo p{
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar li {
    padding-left: 1.5em;
}

body .navbar li a {
    color: white;
    display: flex;
    align-items: center;
}

.navbar li img {
    margin-right: 0.5em;
}

.navbar li:last-child {
    padding-right: 1.5em;
}

a:hover,
.navbar .hamburger-btn:hover {
  opacity: 0.5;
}


/* menu */


/* hamburger icon */

.navbar .hamburger {
  cursor: pointer;
  display: none;
  user-select: none;
  align-self: center;
  padding: 1em;
}

.navbar .hamburger .hamburger-icon {
  background: white;
  display: block;
  height: 0.2em;
  position: relative;
  transition: background .2s ease-out;
  width: 1.6em;
  margin: 0em;
}

.navbar .hamburger .hamburger-icon:before,
.navbar .hamburger .hamburger-icon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navbar .hamburger .hamburger-icon:before {
  top: 0.5em;
}

.navbar .hamburger .hamburger-icon:after {
  top: -0.5em;
}

/* hamburger button */

.navbar .hamburger-btn {
  display: none;
}

.navbar .hamburger-btn:checked ~ .hamburger .hamburger-icon {
  background: transparent;
}

.navbar .hamburger-btn:checked ~ .hamburger .hamburger-icon:before {
  transform: rotate(-45deg);
}

.navbar .hamburger-btn:checked ~ .hamburger .hamburger-icon:after {
  transform: rotate(45deg);
}

.navbar .hamburger-btn:checked ~ .hamburger:not(.steps) .hamburger-icon:before,
.navbar .hamburger-btn:checked ~ .hamburger:not(.steps) .hamburger-icon:after {
  top: 0;
}



/* Search Results Page*/


#main {
    background-color: white;
    width: 95%;
    display: flex;
    flex-direction: row;
    margin: 1em auto;
    border-radius: 6px;
}

body.search_results {


    display: grid;

    grid-template-columns: auto;
    grid-template-rows: fit-content(3.5em) auto;

    grid-template-areas:
    "header"
    "main"    ;
}

body.search_results #main {

    grid-area: main;
    background-color: white;
    width: 95%;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    border-radius: 6px;

}



/* Search results page right side*/

body.search_results #right_side {
    width: 50%;
    border-left: 1px solid black;
    position: relative;
    padding-top: 0.5em;
}

body.search_results #right_side #map {
    height: 60%;
    width: 100%;
    margin: auto;
    margin-top:1em;
}



#residence_info {

    background-color: white;
}


/* Add house page */
body #add_place #map {
    height: 30em;
    width: 100%;
    margin: auto;
    margin-top:1em;
}

#add_place_form {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto min-content auto auto auto;
    grid-template-areas: "title title type price"
                         "description description description description"
                         "location location location location"
                         "map map map map"
                         "commodities commodities commodities commodities"
                         "capacity n-bedrooms n-bathrooms n-beds"
                         "submit submit submit submit";
}

#add_place_form #title { grid-area: title; }
#add_place_form #type { grid-area: type; }
#add_place_form #price { grid-area: price; }
#add_place_form #description { grid-area: description; }
#add_place_form #location_wrapper { grid-area: location; }
#add_place_form #map { grid-area: map; }
#add_place_form #commodities { grid-area: commodities; }
#add_place_form #num_bedrooms { grid-area: n-bedrooms; }
#add_place_form #num_beds { grid-area: n-beds; }
#add_place_form #capacity { grid-area: capacity; }
#add_place_form #num_bathrooms { grid-area: n-bathrooms; }
#add_place_form #submit_button { grid-area: submit; }
#add_place_form #commodity_list {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.search_results_info_window {
    display: grid;
    grid-template-areas:
        "img img"
        "type type"
        "title title"
        "pricePerDay pricePerDay"
        "rating totalPrice";
    text-decoration: none;
    color: black;
}

.search_results_info_window i {
    color: orange;
}

.search_results_info_window  > * {
    margin-top: 2px;
    margin-bottom: 2px;
}

.search_results_info_window > img {
    grid-area: img;
    text-align: center;
}

.search_results_info_window > h3:nth-of-type(1) {
    grid-area: type;
    text-align: left;
    color: grey;
}

.search_results_info_window > h3:first-letter, .search_results_info_window > h2:first-letter {
    text-transform: uppercase;
}

.search_results_info_window > h2 {
    grid-area: title;
    text-align: left;
}

.search_results_info_window > h3:nth-of-type(2) {
    grid-area: pricePerDay;
    text-align: left;
}

.search_results_info_window > p:nth-of-type(1) {
    grid-area: rating;
    text-align: left;
}

.search_results_info_window > p:nth-of-type(2) {
    grid-area: totalPrice;
    text-align: right;
}

.add_house_info_window {
    display: grid;
    grid-template-areas:
        "title title"
        "type price"
        "city country";
    text-align: center;
}

.add_house_info_window > p:nth-of-type(1){
    grid-area: type;
    margin: 10px;
    text-align: center;
}

.add_house_info_window > h4{
    grid-area: title;
    text-align: center;
    margin: 10px;
}

.add_house_info_window > p:nth-of-type(2){
    grid-area: price;
    text-align: center;
    margin: 10px;
}

.add_house_info_window > p:nth-of-type(3){
    grid-area: city;
    text-align: center;
    margin: 10px;
}

.add_house_info_window > p:nth-of-type(4){
    grid-area: country;
    text-align: center;
    margin: 10px;
}

/* Search results page left side*/

body.search_results #left_side {
    width: 50%;
}

body.search_results #left_side header{
    display: grid;
    grid-template-areas:
    "mainTitle mainTitle"
    "resultsCnt searchBar"
    ;

    box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.75);
}


body.search_results #left_side header h1{
    grid-area: mainTitle;
    margin: 0.5em;

}

body.search_results #left_side header h2{
    grid-area: resultsCnt;
    margin: 1em;

}

body.search_results #left_side header h2:before{

    content: "\29BF";
    margin-right: 5px;
}

body.search_results #left_side header label{
    grid-area: searchBar;
    align-self: center;
    font-weight: 500;
}

body.search_results #left_side header input{
    width: 75%;
}

body.search_results #left_side #results{

    height: 100vh;
    overflow-y: scroll;
    height: calc(100vh - 175px);
    position: relative;
}

body.search_results #left_side #results a{

    text-decoration: none;
}

/* Front page page */
/* Front page */

body.front_page {
    background: url('../resources/oporto.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Search_results page filters */

body.search_results #filters {

    width: 94%;
    background-color: #fdfdfd;
    margin: auto;
    display: grid;
    padding: 1em;
    grid-template-columns: 1.1fr 0.6fr 0.5fr;
    grid-template-rows: 0.5fr 1.1fr 1.1fr 1.2fr 0.2fr;
    grid-gap: 0.5em;
    grid-template-areas:
    "title . ."
    "dates more_filters more_filters"
    "price rating type"
    "commodities commodities commodities"
    "filter_bttn filter_bttn filter_bttn";
    border-top: 1px solid #cacaca;
    border-bottom: 4px solid  #475c7a;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    align-items: center;
}

body.search_results #filters input[type="number"] {

    height: 1em;
}

body.search_results #filters #rating input[type="number"] {

    width: 4em;
}

body.search_results #filters #more_filters input[type="number"] {

    width: 4em;
}

body.search_results #filters #price input[type="number"] {

    width: 8em;
}

body.search_results #filters #more_filters {
    grid-area: more_filters;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

body.search_results #filters #title {

    grid-area: title;
    margin: 0;
    font-size: 2em;

}


body.search_results #filters #commodities { grid-area: commodities; }
body.search_results #filters #price { grid-area: price; }
body.search_results #filters #rating { grid-area: rating; }
body.search_results #filters #type { grid-area: type; }
body.search_results #filters #dates { grid-area: dates; }
body.search_results #filters button { grid-area: filter_bttn; }

/*Search results page single result style and layout*/
.result {

    color: black;
    margin: 0.5em;
    border-top: 1px solid #cacaca;
    border-bottom: 4px solid  #685d79;;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background-color: #fdfdfd;


    height: 15em;
    width: 98%;

    display: flex;
    flex-direction: row;

}

 .result:hover {

    color: black;
    margin: 0.5em;
    border-top: 1px solid #cacaca;
    border-bottom: 7px solid  #685d79;;
    box-shadow: 0 6px 6px rgba(0,0,0,.2);


    display: flex;
    flex-direction: row;

}


 .result .image {

    width: max-content;
    height: 15em;
    margin-right: 0.5em;
    padding: 0.3em;
    display: flex;
    align-items:  center;
    justify-content: center;
}

 .result .info {

    width: 65%;
    display: grid;
    grid-template-columns: 2fr 2fr 1.25fr 1.25fr;
    grid-template-rows: 0.5fr 0.5fr 2.5fr 0.5fr 0.5fr;
    grid-template-areas:
        "type_and_location type_and_location . rating"
        "title title title title"
        "desc desc desc desc"
        ". . ppd ppd"
        "nBedrooms nBeds total_price total_price";
}

 .result .info .info_title {
    grid-area: title;
    font-size: 1.5em;
    margin: 0em;
}

.result .info .info_title h1 {
    margin: 0.8em 0.3em;
}


.places_list_entry{
    width: 100%;
}
.places_list_entry a{

    text-decoration: none;
    width: 85%;
}

 .result .info h2 {
    font-size: 1em;
    color: #4e4e4e;
    margin-top: 1em;
    margin-bottom: 0em;
}

 .result .info p {

    font-size: 1em;
    margin-top: 0em;
    text-align: justify;

}

 .result .info .info_description:before{

    content:"- ";
}

 .result .info .info_description {
    grid-area: desc;
    overflow: hidden;
    width: 100%;
    height: 4.0em;
    margin-top: 0.5em;
}

 .result .info .info_type_and_location { grid-area: type_and_location; }

 .result .info .info_bedrooms:before {
    content:" \2022 ";
}

 .result .info .info_bedrooms { grid-area: nBedrooms; }

 .result .info .info_bedrooms:after {
    content: " Bedrooms";
}

 .result .info .info_capacity:before {
    content:" \2022 ";
}

 .result .info .info_capacity { grid-area: nBeds; }

 .result .info .info_capacity:after {
    content: ' Beds';
}

 .result .info .info_score {
    grid-area: rating;
    background-color: #475c7a;
    color: white;
    border: 1em solid #475c7a;
    margin: 0;
    align-self: center;
    text-align: center;
}

 .result .info .info_score:after {
    content:"\2605";
}

 .result .info .info_ppd {
    grid-area: ppd;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 5px;
    margin-right: 10px;
    text-align: right;
}

.result .info .info_ppd:before {
   content:"€";
   font-weight: 500;
}

 .result .info .info_ppd:after {
    content:" per night";
    font-weight: 500;
}

.result .info .total_price {
   grid-area: total_price;
   text-align: right;
   margin-right: 10px;
   font-weight: 700;
}

.result .info .total_price:before {
   content:"Total of €";
   font-weight: 500;
}

 .result img {

    width: 300px;
    height: 180px;

    object-fit: cover;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}


body.user_profile {
    background: url('../resources/santorini_blur.jpg') no-repeat center center fixed;
    background-size: cover;
}

.card {
    box-sizing: border-box;
    width: 60em;
    background-color: white;
    margin: 3em auto;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 9px 7px 16px -2px rgba(0,0,0,0.58);
}

.formCard {
    height: auto;
    width: 40em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em auto auto auto;
    border-radius: 8px;
    box-shadow: 9px 7px 16px -2px rgba(0,0,0,0.58);
}

.formCard a {
    color: var(--color-2);
    font-weight: bold;
}

.formCard a:hover {
    text-decoration: underline;
}

#profile {
    display: grid;
    grid-template-columns: min-content min-content min-content 1fr 5fr;
    grid-template-rows: min-content auto min-content min-content;
    grid-template-areas: "image image image  . name"
                         "image image image  . info"
                         "button button button . info"
                         "about about about  about about";
}

#profile h1 {
    margin-top: 1.8em;
    grid-area: name;
 }

#profile img {
    display: block;
    grid-area: image;
    margin: 2em;
}

#profile ul {
    grid-area: info;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0em;
    margin: 0em;
}

#profile li {
    display: inline;
    margin: 0.2em;
    margin-left: 0em;
}

#profile li em {
    font-style: normal;
    font-weight: bold;
    color: var(--color-2);
}

#profile li p {
    margin: 0.5em 0em;
    word-wrap: break-word;
}

#profile .button {
    grid-area: button;
}

.button {
    background-color: var(--color-2);
    border-radius: 10px;
    border-style: none;
    color: white;
    text-decoration: none;
    padding: 0.4em 0.6em;
    width: auto;
    display: block;
    text-align: center;
    font-size: 1.2em;
}

.button:hover {
    position: relative;
    top: -3px;
    box-shadow: 0px 3px 0px 1px var(--color-3);
    cursor: pointer;
}

.button:active {
    opacity: 0.4;
}

.button {
    transition: all 0.1s ease;
}

#about_me {
    margin-top: 1.5em;
    padding: 1em;
    grid-area: about;
    border-radius: 10px;
    background-color: var(--color-6);
}

#about_me h2 {
    color: var(--color-2);
    font-weight: bold;
    margin-top: 0em;
}

#about_me p {
    margin-bottom: 0em;
}

#search_box {
    display: block;
    padding: 1em;
}

#search_box h1 {
    margin: 0.2em;
}

#search_box form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto min-content;
    grid-template-areas: "location location location location"
                         "check-in check-in check-out check-out"
                         "guests guests . ."
                         "submit submit submit submit";
}

.form_entry {
    margin: 0.6em;
    display: flex;
    flex-direction: column;
}

#search_box h1 {
    grid-area: title;
}

#search_box #location {
    grid-area: location;
}

#search_box #check_in {
    grid-area: check-in;
    margin-right: 0;
}

#search_box #check_out {
    grid-area: check-out;
    margin-left: 0;
}

#search_box #guests {
    grid-area: guests;
}

#search_box #submit_button {
    grid-area: submit;
    margin: 0.6em;
}

textarea {
    resize: none;
}

#edit_profile h1 {
    grid-area: title;
    margin: 1em;
}

#edit_profile #profile_info {
    display: grid;
    grid-template-columns: min-content min-content 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "image image username email"
                         "image image first-name last-name"
                         "image image bio bio"
                         "choose-photo remove-photo bio bio"
                         "submit submit submit submit";
}


#edit_profile #profile_info img {
    margin: 1em 2em;
    grid-area: image;
    justify-self: center;
}

#edit_profile #profile_info #username {
    grid-area: username;
}

#edit_profile #profile_info #email {
    grid-area: email;
}

#edit_profile #profile_info #first_name {
    grid-area: first-name;
}

#edit_profile #profile_info #last_name {
    grid-area: last-name;
}

#edit_profile #profile_info #bio {
    grid-area: bio;
}

#edit_profile #profile_info #choose_foto {
    grid-area: choose-photo;
}

#edit_profile #profile_info #remove_photo {
    grid-area: remove-photo;
}

#edit_profile #profile_info #submit_button {
    grid-area: submit;
}

#edit_profile .button {
    margin: 0.4em;
}

.choose_photo_input, #edit_profile #profile_info #remove_photo_input {
    display: none;
}

#edit_profile #change_password {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "pw pw-conf"
                         "submit submit";
}

#edit_profile #change_password #password { grid-area: pw }

#edit_profile #change_password #pw_conf { grid-area: pw-conf }

#edit_profile #change_password .button { grid-area: submit }

#edit_profile #change_password .button { grid-area: submit }

#login form {
    display: flex;
    flex-direction: column;
}

#register form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "username username"
                         "email email"
                         "first-name last-name"
                         "password confirm-password"
                         "submit submit";
}

#register #username { grid-area: username; }

#register #password { grid-area: password; }

#register #email { grid-area: email; }

#register #first_name { grid-area: first-name; }

#register #last_name { grid-area: last-name; }

#register #password { grid-area: password; }

#register #conf_password { grid-area: confirm-password; }

#register .button { grid-area: submit; }

#login .button, #register .button {
    margin: 0.5em;
}

/*Residence info page*/

body.residence_page a {

    text-decoration: none;
    color: black;
}

body.residence_page #map {
    height: 60%;
    width: 100%;
}

body.residence_page #main {

    padding: 1em;
    height: 45em;
}

#residence_info h1{

    border-bottom: solid 2px var(--color-4);
    width: 50%;
    margin: 1em 0em 1em 0em;
}

body.residence_page #left_side {

    width: 40%;
}

body.residence_page #right_side {

    width: 60%;
    background-color: white;
    margin: 3em;
}


body.residence_page #residence_info {

    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 0.6fr 2.3fr 0.7fr 0.7fr 1fr;
    grid-template-areas:
    "title title title rating"
    "type_and_location type_and_location type_and_location rating"
    "description description description description"
    "properties properties properties properties"
    "commodities commodities commodities commodities"
    "owner owner rent_button rent_button ";
  }

body.residence_page #residence_info .ri_title {

    grid-area: title;
    margin-bottom: 0em;
}
body.residence_page #residence_info .ri_rating {
    grid-area: rating;
    align-self: center;
    background-color: var(--color-4);
    width: 6em;
    margin-left: auto;
    margin-right: 1em;
    border-radius: 4px;
    color: var(--color-6);
}

body.residence_page #residence_info .ri_rating h4{

    text-align: center;
}

body.residence_page #residence_info .ri_owner { grid-area: owner; }
body.residence_page #residence_info .ri_type_and_location {

    grid-area: type_and_location;
    font-size: 1em;
    color: #4e4e4e;
    margin-top: 1em;
    margin-bottom: 0em;
}

body.residence_page #residence_info #ri_residence_properties{

    border-top: 2px solid var(--color-5);
    border-bottom: 2px solid var(--color-5);
    grid-area: properties;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body.residence_page #residence_info #ri_residence_properties > *::before {

    content: "\2022  ";
}

body.residence_page #residence_info .ri_description {
    grid-area: description;
    text-align: justify;
    text-indent: 2em;
    padding: 0em 1em;
}
body.residence_page #residence_info .ri_commodities {

    grid-area: commodities;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    margin-top: 1.5em;
    padding: 0.5em;
}

body.residence_page #residence_info .ri_commodities ul{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body.residence_page #residence_info .ri_commodities li {

    margin: 0.2em 1.5em 0.2em 0em;
    list-style: none;
}

body.residence_page #residence_info .ri_commodities li.presentCommodity:before {

    content: "\2705";
}

body.residence_page #residence_info .ri_commodities li.missingCommodity:before {

    content: "\274C";
}

body.residence_page #residence_info #ri_owner {
    grid-area: owner;

}

body.residence_page #residence_info #ri_owner h3{
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

body.residence_page #residence_info #ri_owner #owner_avatar a{

    display: flex;
    flex-direction: row;
    padding: 0.5em;
    width: 50%;
    margin-left: 1em;
}

body.residence_page #residence_info #ri_owner #owner_avatar img{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.5em;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

body.residence_page #rent_action_form {
    grid-area: rent_button;
    align-self: center;
    height: 40%;
    width: 80%;
}

body.residence_page #rent_button_active {

    grid-area: rent_button;
    background-color: var(--color-2);
    border-radius: 10px;
    border-style: none;
    color: white;
    text-decoration: none;
    padding: 0.4em 0.6em;
    width: auto;
    display: block;
    text-align: center;
    font-size: 1.2em;
    height: 100%;
    width: 100%;
}

body.residence_page #rent_button_inactive {

    grid-area: rent_button;
    background-color: rgb(100,100,100);
    border-radius: 10px;
    border-style: none;
    color: white;
    text-decoration: none;
    padding: 0.4em 0.6em;
    width: auto;
    display: block;
    text-align: center;
    font-size: 1.2em;
    height: 100%;
    width: 100%;
}


/*Review Section*/

body.residence_page #review_section {

    background-color: white;
    width: 60%;
    margin: 1em 0 0 2em;
    border-radius: 6px;
    padding: 1em;


}

body.residence_page #review_section > h1 {

    border-bottom: solid 2px var(--color-4);
    width: 20%;
    margin: 1em 0em 1em 0em;

}

.review {
    width: 100%;
}


.main_review {

    width: 100%;
    height: 10em;
    margin-bottom: 2em;
    border-top: 1px solid rgb(200,200,200);

    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 2fr;
    grid-template-areas:
    "comment_user_info comment_date_and_rating comment_date_and_rating comment_date_and_rating options"
    "comment_user_info comment_title comment_title comment_title options"
    "comment_user_info comment_content comment_content comment_content options";
  }

.comment_date_and_rating {
    grid-area: comment_date_and_rating;
    display: flex;
    flex-direction: row;
    padding-left: 0.5em;
}

.comment_date_and_rating h3 {
    font-size: smaller;
    color: rgb(34, 34, 34);
    margin-left: 1em;
}

.checked, .fa-star-half-o, .fa-star-o{
  color: orange;
  font-size: larger;

}

.comment_content {
    grid-area: comment_content;
    margin: 1em 0em 0em 0em;
    font-size: smaller;
    color: rgb(34, 34, 34);
}

.comment_title {
    grid-area: comment_title;
    margin: 0em;
    font-size: larger;
    font-weight: 600;
}

.rating_display {

    margin: auto 0 auto 0;
    display: flex;

}


.comment_user_info {

    grid-area: comment_user_info;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;

}

.comment_user_info p {

    text-align: center;
    margin: 0em;
}

.comment_user_info .reviewer_username {

    font-size: smaller;
    font-style: italic;
    color: rgb(34, 34, 34);
}

.comment_user_info img{
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 1em;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.replies {

    padding-left: 4em;
}

.reply {

    width: 100%;
    height: 12em;
    margin-bottom: 2em;
    border-top: 1px solid rgb(200,200,200);

    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 2fr;
    grid-template-areas:
    "comment_user_info reply_date reply_date reply_date options"
    "comment_user_info comment_title comment_title comment_title options"
    "comment_user_info comment_content comment_content comment_content options";
}

.reply_date {
    grid-area: reply_date;
    display: flex;
    flex-direction: row;

}

.reply_date h3 {
    font-size: smaller;
    color: rgb(34, 34, 34);
    margin-left: 0em;
    margin-right: 1em;
}

input.comment_title {
    margin: 0em;
    font-size: medium;
    font-weight: 400;
}

textarea.comment_content {
    padding-left: 1em;
    font-size: medium;
}

.submit_reply {

    grid-area: options;
    align-self: end;
    width: 50%;
    justify-self: center;
}

form.comment_content {

    display: flex;
    flex-direction: column;
}

/*Residence page image*/

.slide_show_img {

    width: 900px;
    height: 534px;
}

#right_side * {box-sizing:border-box}

#residence-images {

    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
}

/* Slideshow container */
.slideshow-container {
  width: 900px;
  position: relative;
  margin: 2.5em 0 auto 5em;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

body.residence_page #residence-images a.prev, body.residence_page #residence-images a.next{

    color: white;

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Rent house page*/


body.rent_house h1{

    border-bottom: solid 2px var(--color-4);
    width: 40%;
    margin: 1em 0em 1em 0em;
}

body.rent_house #availabilities h2{

    border-bottom: solid 2px var(--color-5);
    width: 20%;
    margin-top: 0em;
}


body.rent_house #residence_info_simplified{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

body.rent_house #residence_summary{
    width: 100%;
}

body.rent_house #residence_summary a{
    text-decoration: none;
}

body.rent_house #residence_summary  .result:hover {

    border-bottom: 4px solid  #685d79;;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);

}

body.rent_house  #display_price {

    border: 1px solid black;
    width:50%;
    padding: 1em 1em 1em 1em;
    margin: 1em auto 1em auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

body.rent_house  #display_price p {

    margin-left: 1em;
}


body.rent_house #rent_form {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}



#places_list .my_places_title h1 {
    margin: 0 0.3em;
}

#places_list .my_places_title {
    display: flex;
    margin: 0.8em auto;
    flex-direction: row;
}

.places_list_entry {
    display: flex;
    flex-direction: row;
}

.places_list_entry .place_operations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width:15%;
}



body.rent_house .disabled {

    background-color: grey;
}


/*User reservations page*/

body.user_rentals #user_rentals{
    overflow-x: auto;
}

body.user_rentals #user_rentals table {
    border-collapse: collapse;

    width: 100%;
}

#user_rentals h1 {
    margin-left: 1em;
}

body.user_rentals #user_rentals th, td {

    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
    text-align: center;
}

body.user_rentals #user_rentals th{
    background-color: #f7cc97;
}

td:last-child {
    padding: 0em 0em 0em 0.5em;
    border: none;

}

td:first-child {
    padding: 0em 0.5em 0em 0em;
    border: none;

}

body.user_rentals #user_rentals th:last-child{
    border: none;
    background-color: white;
}

body.user_rentals #user_rentals th:first-child{
    border: none;
    background-color: white;
}

body.user_rentals #user_rentals td{
    height: 100%;

}

body.user_rentals #user_rentals a {

    text-decoration: underline;
    color: black;
}

body.user_rentals #user_rentals th.last_header_cell {

    border: none;
}

/*Write review page*/

body.write_review #review_form{

    width: auto;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    border-radius: 6px;
    height: auto;
    padding: 1em;

}

body.write_review #review_form form {

    display: flex;
    flex-direction: column;
}

body.write_review #review_form form .comment_rating {

    margin-top: 1em;
    color: rgb(34, 34, 34);
}
#edit_place_form {
    display: flex;
    flex-direction: column;
}

#edit_place .new_image_preview, #edit_place .image_preview {
    position: relative;
    padding: 0;
    width: 300px;
    height: 180px;
}

#edit_place .remove_image {
    display: none;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;

    position: absolute;
    color: #FFF;

    font-size: 3em;
}

#edit_place .new_image_preview:hover .remove_image, #edit_place .image_preview:hover .remove_image {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


#edit_place_images {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-auto-rows: 180px;
    grid-gap: 0.6em;
    margin: 1em auto;
    justify-content: center;
}

#edit_place_images .choose_photo {
    font-size: 2.2em;
    border-radius: 50%;
    margin: auto;
}

/*Add availabilities page*/

body.choose_availabilities #choose_availabilities{

    background-color: white;
    width: max-content;
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    border-radius: 6px;
    padding: 1em;
}

body.choose_availabilities #choose_availabilities form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    align-items: center;
}

body.choose_availabilities #choose_availabilities form input {
    height: 2em;
}